.alertList__container {
  width: 80%;
  padding: 3rem 0 0 0;
  margin: 0 auto;
  background-color: white;
  border-radius: .5rem;

  ul {
    padding: 0;
    margin: 3rem 0 0 0;
    border-top: 1px solid $border-gray;
    list-style-type: none;
  }
  
  li.alert {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid $border-gray;
  }

  p {
    flex: 1 1 80%;
    display: inline-block;
    font-size: 1.8rem;
  }

  .alert input[name="itemName"] {
    flex: 1 1 77%;
    flex-basis: calc(77% + .3rem);
    box-sizing: border-box;
    font: normal 1.8rem/1.8rem Times;
    margin: 1.5rem 3% 1.5rem -.3rem;
    opacity: 1;
    transition: opacity .1s;

    &:not(.inactive) + .edit__button {
    }
  }
  
  .alert .edit__button {
    flex: 2 1 5%;
    float: right;
    width: 6rem;
    height: 4rem;
    padding: .75rem 1rem;
    border: 0;
    border-radius: 1.75rem;
    font: normal 1.4rem/1.4rem 'GT Walsheim';
    font-size: 1.4rem;
    background-color: $button-gray;
    text-transform: uppercase;
    transition: background-color .25s ease-out;

    &:hover {
      background-color: $yellow;
    }

    &:active {
      background-color: $active-yellow;
    }
    
    &:focus {
      outline: none;
    }
  }

  .error__container {
    flex: 1 1 100%;
    box-sizing: border-box;
    margin-top: .5rem;
    padding: 1rem;
    background-color: rgba(255, 0, 0, .2);
    border: .1rem solid red;
    border-radius: .5rem;
    color: red;
    font: normal 1.8rem/1.8rem Times;
    transition: opacity .25s ease-out, height .25s ease-out;
  }

  .inactive {
    display: none;
    opacity: 0;
  }

  .invisible {
    opacity: 0;
  }

  .collapsed-height {
    height: 0;
  }
}
