$border-gray: rgb(227, 227, 227);
$border-dark-gray: rgb(31, 30, 31);
$button-gray: rgb(249, 249, 249);
$background-gray: rgb(235, 235, 235);
$inactive-text: rgb(183, 183, 183);
$yellow: rgb(255, 235, 128);
$active-yellow: rgb(235, 215, 108);

// gradients
$button-gradient: -webkit-linear-gradient(top, white, rgb(250, 250, 250));
